.pep {
    height:20px;
    width:100%;
    max-width: 100px;
    border-style:solid;
    border-width:2px;
    border-radius:5px;
    margin-bottom:5px;
    z-index: 10;
    position: relative;
    padding: 1px;
    background: #69D2E7;
    opacity: .9;
}

.dropzone {
    height:40px;
    width:100%;
    max-width: 200px;
    border-style:solid;
    border-width:1px;
    border-radius:5px;
    margin-bottom:5px;
    z-index: -10;
    background: #E0E4CC;
}
.activity-panel {
  max-width: 400px;
}
.activity-panel .panel-body {
  padding-right: 0px;
}
.left-condensed {
  float: left;
  margin: 15px 0px;
  margin-right: 10px;
}
.left {
  float: left;
  width: 50%;
  margin: 15px 0px;
}

.pep-dpa {
  background: #F1F4E0;
}

.selected {
  background: #A7DBD8;
}

.form-panel {
  max-width: 420px;
}

.form-well {
  margin-top:15px;
}
.table-center {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.table-center td {
  min-width: 70px;
}


#errorMessage {
  display:none;
}
@media only screen and (max-width : 992px) {
    .form-panel {
      margin: auto;
    }
}
